<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the party!</title>
</head>
<body>
    <h1>PARTY BUX: $<strong>@ViewBag.Count</strong></h1>
    <h2>Party Time is now: @ViewBag.PartyTime</h2>
    <hr>
    <h3>Get the Party Stuff:</h3>
    <a href="/party/bux"><button>CLICK TO GET PARTY BUX!</button></a>
    <a href="/party/hats"><button>CLICK TO GET PARTY HATS!</button></a>
    <a href="/party/board"><button>CLICK TO GET PARTY BORED!!!!</button></a>
</body>
</html>